/* line 4, ../../sass/nba_power_rankings.scss */
.power-rankings button {
  padding: 5px;
  font-size: 1.1em;
}

/* line 10, ../../sass/nba_power_rankings.scss */
.panning-controls {
  width: 500px;
  margin: 0 auto;
}

/* line 15, ../../sass/nba_power_rankings.scss */
.panning-controls {
  overflow: hidden;
  *zoom: 1;
}

/* line 19, ../../sass/nba_power_rankings.scss */
#left {
  float: left;
}

/* line 23, ../../sass/nba_power_rankings.scss */
#right {
  float: right;
}
