<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="/static/d3_rankings.js?ver={{version}}"></script>
<script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
<script src="https://code.jquery.com/jquery-2.2.2.min.js"></script>

<link rel="stylesheet" href="/static/css/chart.css?ver={{version}}" type="text/css" charset="utf-8">
<link rel="stylesheet" href="/static/css/info-display.css?ver={{version}}" type="text/css" charset="utf-8">
<link rel="stylesheet" href="/static/css/nba_power_rankings.css?ver={{version}}" type="text/css" charset="utf-8">
<!--<h2 style='text-align: center'>-->
<!--2015-2016 NBA Power Rankings-->
<!--</h2>-->
<div class='power-rankings-header-image'>
  <img src="/static/images/2015-2016-nba-power-rankings.jpg" alt="2015-2016 NBA Power Rankings"/> 
</div>

<div class="power_rankings">
  <div class="chart">
    <svg width='100%' height='600' id='nba-chart'> </svg>
  </div>

  <div class="power_rankings_text">
    <p>Source: <a href="http://espn.go.com/nba/powerrankings" target="_blank">ESPN</a></p>
    
  </div>
</div>



<script>
build_chart('#nba-chart')
</script>
