@import "compass/utilities/general/clearfix";

.power-rankings {
  button {
    padding: 5px;
    font-size: 1.1em;
  }
}

.panning-controls {
  width: 500px;
  margin: 0 auto;
}

.panning-controls {
  @include clearfix();
}

#left {
  float: left;
}

#right {
  float: right;
}
