@import "compass/utilities/general/clearfix";
@import "variables";

.panning-controls {
  @include clearfix();
  width: 900px;
  
  .button {
    display: inline-block;
    text-align: center;
    width: 3em;
    height: 1em;
    font-size: 2.2em;
    background-color: white;
    border: 2px solid black;
    cursor: pointer;
  }

  .button:hover {
    background-color: lighten($button-highlight, 20%);
  }

  //.active {
    //background-color: $button-highlight;
  //}

  #left-button {
    margin-left: 100px;
    float: left;
  }

  #right-button {
    float: right;
  }
}

