$highlight-stroke-width: 3;
$stroke-width: 2;
$highlight-bubble-radius: 5;
$bubble-radius: 3;

$gray: #D3D3D3;
$black: #000;

$warriors: #FDB927;
$bulls: #CE1141;
$raptors: #CE1141;
$cavaliers: #860038;
$wizards: #002566;
$heat: #98002E;
$bucks: #00471B;
$hawks: #E13A3E;
$thunder: #007DC6;
$kings: #724C9F;
$rockets: #CE1141;
$clippers: #006BB6;
$lakers: #552582;
$blazers: #B6BFBF;
$mavericks: #007DC5;
$spurs: #000000;
$grizzlies: #002566;
$nuggets: #FFB20F;
$pacers: #00275D;
$suns: #E56020;
$pelicans: #001641;
$magic: #007DC5;
$nets: #000000;
$celtics: #008348;
$jazz: #002B5C;
$timberwolves: #00A94F;
$knicks: #F58426;
$philly: #ED174C;
$pistons: #ED174C;
$hornets: #1D1160;

.d3-tip {
  line-height: 1;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  max-width: 400px;
  
}

.d3-tip-header {
  font-weight: bold;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;

}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;

}

.axis text {
  font: 10px sans-serif;
}

text.team {
  cursor: default;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.highlight g.team path {
    stroke: $gray;
}

// this is the thick invisible line that overlays
// all the colored lines which handles the mouse events
path.line-handle {
  stroke-width: 10;
  fill: none;
  stroke: red;
  opacity: 0;
}

@mixin transition {
  transition: all .1s ease-in-out;
}

@mixin normal-line($team) {
  path {
    stroke: $team;
    stroke-width: $stroke-width;
    fill: none;
    @include transition();
  }


}

@mixin highlight-line($team) {
    path {
      stroke: $team;
      stroke-width: $highlight-stroke-width;
    }
    circle {
      fill: $team !important;
      r: $highlight-bubble-radius;
    }
    text {
      stroke: $black;
      fill: $black; 
    }
}

g.warriors {
  @include normal-line($warriors)
}
.highlight.warriors {
  g.warriors {
    @include highlight-line($warriors)
  }
}

g.cavaliers {
  @include normal-line($cavaliers)
}
.highlight.cavaliers {
  g.cavaliers {
    @include highlight-line($cavaliers)
  }
}

g.spurs {
  @include normal-line($spurs)
}
.highlight.spurs {
  g.spurs {
    @include highlight-line($spurs)
  }
}

g.thunder {
  @include normal-line($thunder)
}
.highlight.thunder {
  g.thunder {
    @include highlight-line($thunder)
  }
}

g.rockets {
  @include normal-line($rockets)
}
.highlight.rockets {
  g.rockets {
    @include highlight-line($rockets)
  }
}

g.clippers {
  @include normal-line($clippers)
}
.highlight.clippers {
  g.clippers {
    @include highlight-line($clippers)
  }
}

g.grizzlies {
  @include normal-line($grizzlies)
}
.highlight.grizzlies {
  g.grizzlies {
    @include highlight-line($grizzlies)
  }
}

g.hawks {
  @include normal-line($hawks)
}
.highlight.hawks {
  g.hawks {
    @include highlight-line($hawks)
  }
}

g.heat {
  @include normal-line($heat)
}
.highlight.heat {
  g.heat {
    @include highlight-line($heat)
  }
}

g.bulls {
  @include normal-line($bulls)
}
.highlight.bulls {
  g.bulls {
    @include highlight-line($bulls)
  }
}

g.pelicans {
  @include normal-line($pelicans)
}
.highlight.pelicans {
  g.pelicans {
    @include highlight-line($pelicans)
  }
}

g.raptors {
  @include normal-line($raptors)
}
.highlight.raptors {
  g.raptors {
    @include highlight-line($raptors)
  }
}

g.celtics {
  @include normal-line($celtics)
}
.highlight.celtics {
  g.celtics {
    @include highlight-line($celtics)
  }
}

g.bucks {
  @include normal-line($bucks)
}
.highlight.bucks {
  g.bucks {
    @include highlight-line($bucks)
  }
}

g.wizards {
  @include normal-line($wizards)
}
.highlight.wizards {
  g.wizards {
    @include highlight-line($wizards)
  }
}

g.pacers {
  @include normal-line($pacers)
}
.highlight.pacers {
  g.pacers {
    @include highlight-line($pacers)
  }
}

g.pistons {
  @include normal-line($pistons)
}
.highlight.pistons {
  g.pistons {
    @include highlight-line($pistons)
  }
}

g.jazz {
  @include normal-line($jazz)
}
.highlight.jazz {
  g.jazz {
    @include highlight-line($jazz)
  }
}

g.kings {
  @include normal-line($kings)
}
.highlight.kings {
  g.kings {
    @include highlight-line($kings)
  }
}

g.suns {
  @include normal-line($suns)
}
.highlight.suns {
  g.suns {
    @include highlight-line($suns)
  }
}

g.mavericks {
  @include normal-line($mavericks)
}
.highlight.mavericks {
  g.mavericks {
    @include highlight-line($mavericks)
  }
}

g.hornets {
  @include normal-line($hornets)
}
.highlight.hornets {
  g.hornets {
    @include highlight-line($hornets)
  }
}

g.magic {
  @include normal-line($magic)
}
.highlight.magic {
  g.magic {
    @include highlight-line($magic)
  }
}

g.knicks {
  @include normal-line($knicks)
}
.highlight.knicks {
  g.knicks {
    @include highlight-line($knicks)
  }
}

g.timberwolves {
  @include normal-line($timberwolves)
}
.highlight.timberwolves {
  g.timberwolves {
    @include highlight-line($timberwolves)
  }
}

g.nuggets {
  @include normal-line($nuggets)
}
.highlight.nuggets {
  g.nuggets {
    @include highlight-line($nuggets)
  }
}

g.lakers {
  @include normal-line($lakers)
}
.highlight.lakers {
  g.lakers {
    @include highlight-line($lakers)
  }
}

g.blazers {
  @include normal-line($blazers)
}
.highlight.blazers {
  g.blazers {
    @include highlight-line($blazers)
  }
}

g.nets {
  @include normal-line($nets)
}
.highlight.nets {
  g.nets {
    @include highlight-line($nets)
  }
}

g.philly {
  @include normal-line($philly)
}
.highlight.philly {
  g.philly {
    @include highlight-line($philly)
  }
}
