/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

body {
  font-family: 'Titillium Web', sans-serif;
}

.main {
  background-image: url('/static/images/nba-logo-tiled.jpg')
}

.content {
  max-width: 1040px;
  margin:  auto;
}

.chart {
  margin-top: 20px;
  background-color: white;
}
