html, body {
    height: 100%;
}

.header {
    font-size: 45px;
    border-bottom: 1px solid black;
}

.post {

}

.background {
    background-color: #DDD;
    min-height: 100%;
}

.main {
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
}
