<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>NBA PWR RNKNGS</title>


  {% load staticfiles %}
  {% load static %}

  <script src="{% static 'd3/d3.min.js'%}" charset="utf-8"></script>
  <script src="{% static 'd3-tip/index.js'%}" charset="utf-8"></script>
  <script src="{% static 'jquery/dist/jquery.min.js'%}" charset="utf-8"></script>

  <script src="/static/d3_rankings.js?ver={{version}}"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>


  <link rel="stylesheet" href="/static/css/chart.css?ver={{version}}" type="text/css" charset="utf-8">
  <link rel="stylesheet" href="/static/css/info-display.css?ver={{version}}" type="text/css" charset="utf-8">
  <link rel="stylesheet" href="/static/css/nba_power_rankings.css?ver={{version}}" type="text/css" charset="utf-8">
  <link rel="stylesheet" href="/static/css/tooltip.css?ver={{version}}" type="text/css" charset="utf-8">
  <link rel="stylesheet" href="/static/css/spinner.css?ver={{version}}" type="text/css" charset="utf-8">
  <link href="/static/css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />

  <link href='https://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>

</head>
<body>

  <div id="spinner-container">
    <div class="sk-cube-grid">
      <div class="sk-cube sk-cube1"></div>
      <div class="sk-cube sk-cube2"></div>
      <div class="sk-cube sk-cube3"></div>
      <div class="sk-cube sk-cube4"></div>
      <div class="sk-cube sk-cube5"></div>
      <div class="sk-cube sk-cube6"></div>
      <div class="sk-cube sk-cube7"></div>
      <div class="sk-cube sk-cube8"></div>
      <div class="sk-cube sk-cube9"></div>
    </div>
  </div>

  <div class="power_rankings page-segment">
    <div class="chart">
    </div>
    <button id='center'>
      center
    </button>


    <div class="power_rankings_text">
      <p>Source: <a href="http://espn.go.com/nba/powerrankings" target="_blank">ESPN</a></p>
    </div>
  </div>

</body>
</html>
